@charset "utf-8";
/* CSS Document */

body{
	font-family: arial Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #C0D9D9;
	text-align: center;
}
h1{
	font-family: arial Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 100px;
	color: #b78c38;
	text-shadow: -4px 3px 0 #b0babf, -14px 7px 0 #253759;
}

#seven{
	font-family: arial Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 100px;
	color: #b78c38;
	text-shadow: -4px 3px 0 #b0babf;
}

h3{
	color: #466273;
	font-size: 30px;
}

p{
	color: #b78c38;
}

input[type=text], select, textarea{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

button {
  text-decoration: none!important;
  display: inline-block;
  border-radius: 2px;
  background-color:  #253759;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer!important;
  margin: 5px;
}	

